<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/root.css">

</head>


<body>
    <%- include("partials/headerShop")%>
    <main>
        <section class="carrito-resumen mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <%for(let i = 0; i < data.length; i++) {%>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td>
                                        <a href="#" class="cart-card-image" > <img id="imgZoom" class="cart-image-product"
                                                src="<%= data[i].img %>" style="width:25%"> </a>
                                    </td>
                                    <td><%= data[i].title %></td>
                                    <td> $ <%= data[i].price %> </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>

                    </div><!-- end table col-->
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <style type="text/css">
                                .zoom {
                                    /* Aumentamos la anchura y altura durante 2 segundos */
                                    transition: width 2s, height 2s, transform 2s;
                                    -moz-transition: width 2s, height 2s, -moz-transform 2s;
                                    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
                                    -o-transition: width 2s, height 2s, -o-transform 2s;
                                }

                                .zoom:hover {
                                    /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
                                    transform: scale(1.5);
                                    -moz-transform: scale(1.5);
                                    /* Firefox */
                                    -webkit-transform: scale(1.5);
                                    /* Chrome - Safari */
                                    -o-transform: scale(1.5);
                                    /* Opera */
                                }
                            </style>
                            <img class="card-img-top zoom" id="imgLook" alt="">
                            <div class="dropdown-divider mr-3 ml-3"></div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Reloj Smart</h3>
                                <h5 class="card-title text-center">$175.000</h5>
                            </div>
                        </div>
                    </div><!-- end main row-->
                    <h3>Total: <%=data[0].price%></h3>
                </div><!-- end main container-->

                <div class="container" style="margin-top:50px; margin-bottom:80px">
                    <button type="button" class="btn btn-secondary btn-lg btn-block mb-3">Comprar!!</button>
                    <a href="/shop">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">o Seguí comprando como un desquiciado!!</button>
                    </a> 
                </div><!-- end of go buy container-->

    </main>


    <%- include("partials/footer2")%>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script> 
        let imgZoom= document.getElementById('imgZoom');
            imgZoom.addEventListener('click', () => {
                alert(imgZoom);
                console.log(imgZoom);
                let imgLook = document.getElementsByClassName('card').innerHTML = imgZoom;
            })
    </script>

</body>

</html>