<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Pos Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/aeb03eaab9.js"></script>
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<header>
    <%- include('partials/headerHome.ejs') %>
</header>

<body>
    <%- include('partials/errorsRender.ejs') %>
    <section>
        <div class="container mx-auto  p-5  items-center ">
            <div class="row">
                <h1 class=" mb-4  ">Un solo lugar
                    <br>todos los E-Commerce
                </h1>
            </div>
            <div class="row">
                <div class="col ">
                    <a href="/"><img class="img-fluid" src="/images/logoAuxiliarNeopos.svg" alt=""
                            style="width: 50vh;"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="text-center bg-light">
        <div class="container p-5">
            <h2 class="mb-5">Nuestros E-commerce desarrollados</h2>
            <div class="row">
                <% for( shop of shops ){ %> 
                <div class="col-lg-4">
                    <div class=" mx-auto mb-5 mb-lg-0">
                        <a href="/shop/<%= shop.idshop %> " class="text-decoration-none">
                            <picture>
                                <img src="<%= shop.shop_logo %> " style="width: 20vh;height:20vh" class="img-fluid img-thumbnail" alt="">
                            </picture> 
                            <h3><%= shop.shop_name %> </h3>
                        </a>
                    </div>
                </div>
                <% } %> 
            </div>
        </div>
    </section>

    <!-- Tseccion 4 -->
    <section class=" bg-light text-center">
        <div class="container p-5 mb-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-shipping-fast fa-5x  m-auto "></i>
                        </div>
                        <h3>Envíos</h3>
                    </div>
                    <p class="lead mb-0">Vendé y comprá desde el más allá</p>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-dolly fa-5x m-auto"></i>
                        </div>
                        <h3>Punto de venta</h3>
                    </div>
                    <p class="lead mb-0">Comprá mientras vas llegando al local!</p>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-boxes fa-5x m-auto "></i>
                        </div>
                        <h3>Stock</h3>
                        <p class="lead mb-0">Tus productos disponibles, en un solo stock.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include("partials/footer2")%>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js "
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n "
    crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 "
    crossorigin="anonymous "></script>
<script src="https://kit.fontawesome.com/2aa1bb4704.js " crossorigin="anonymous "></script>
<script> window.onload = function () {

        //log.addEventListener('click', ()=>{
        //alert('tocaste');
        //})

        let login = document.getElementById('modalLogin');
        let signup = document.querySelector('.modal');

        if (typeof user != 'undefined') {
            //$('#modalLogin').modal( { show: false });
            login.style.display = "none";
            signup.style.display = "none";
        } else {
            //$('#modalLogin').modal({ show: true }); 
        }
    };</script>

</html>