<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/root.css">

</head>

<body>
    <%- include("partials/headerShop")%>
    <main>
        <div class="container">
            <section class="product-box">
                <div class=" row ">
                    <div class="card-body col-12 ">
                        <div class="modal-header ">
                            <h3 class="modal-title ">Editar producto : <br> <%= data.title %> </h3>
                        </div>  
                    </div>
                    <div class="container  ">
                        <form action="/product/edit/<%= data.idproducts %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="row ">
                                <div class="col-12 col-md-6 ">
                                    <div class="">
                                        <p>Titulo del producto</p>
                                        <input class="form-control form-control-md" type="text"
                                            value="<%= data.title %>" name="title">
                                    </div>

                                    <div class=" ">
                                        <p>Precio</p>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">$</span>
                                                </div>
                                                <input type="text" class="form-control form-control-md" aria-label="Amount (to the nearest dollar)" value="<%= data.price %>" name="price">
                                                <div class="input-group-append">
                                                  <span class="input-group-text">,00</span>
                                                </div>
                                              </div>
                                    </div>
                                    <div class="">

                                        <p>Descripción</p>
                                        <textarea class="form-control " aria-label="With textarea " name="description"><%= data.description %>
                                            </textarea>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 ">
                                    <div >
                                        <p>Stock</p>
                                        <input class="form-control form-control-md " type="number " placeholder="Stock "
                                            name="stock">
                                    </div>
                                    <div>
                                        <p>Sube una imagen</p>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="img" id="inputGroupFile04">
                                            <label class="custom-file-label" for="inputGroupFile04" >Choose
                                                file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" section-border py-4 text-center ">
                                <button type="submit" class="btn btn-success btn-lg btn-radius ml-3">Editar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>