<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/root.css">

</head>

<body>
    <%- include("partials/headerShop")%>
    <main>
        <div class="container" style="margin-top: 150px;margin-bottom: 150px;">
            <section class="product-box">
                <div class="row">
                    <div class="col-12 col-md-8 ">
                        <a href="">
                            <!-- <figure class=""> -->
                            <img class="img-fluid " src="<%= data.img  %> " alt="imagen de producto">
                            <!-- </figure> -->
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <article class="product-box_data px-2 py-2">
                                <p class="brand">
                                    <h3><%= data.brand %></h3>
                                    
                                </p>
                                <p class="title">
                                   <h4><%=data.title %></h4> 
                                </p>
                                <p>
                                    <%=data.description%>
                                </p>
                                <h2 class="brand display-4">
                                    $<%= data.price %>
                                </h2>
                                <% if(admin == "true") {%>
                                <div class="container">
                                    <a href="/product/edit/<%= data.idproducts %>"> <button type="submit "
                                            class="btn btn-dark mt-2 ml-a mr-a ">Editar Producto</button>
                                    </a>
                                </div>
                                <% }else{ %>
                                <div class="container">
                           
                                
                                <div class=" ">
                                    <p>Precio</p>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">Cantidad</span>
                                            </div>
                                            <input type="text" class="form-control form-control-md" aria-label="Amount (to the nearest dollar)" value="<%= data.price %>" name="price">
                                            <div class="input-group-append">
                                              <span class="input-group-text"><i class="fas fa-cart-plus fa-1x" style="color: white";></i></span>
                                            </div>
                                          </div>
                                </div>
                                <form action="/cart/<%=data.idproducts%> " method="post">
                                <div class=" ">
                                    <button class="btn btn-success">Agregar al carrito</button>
                                </div>
                                </form>
                            </div>

                                <% } %>
                            </article>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </main>
    <%- include("partials/footer2")%>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>

</body>

</html>