<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/shop.css">
</head>

<body>
    <%- include("partials/headerShop")%>
    <main>
        <div class="container-fluid" style ="background-image: url('<%=data[0].shopProduct.shop_banner%>'); background-size: cover;background-repeat: no-repeat;">
<<<<<<< HEAD
            <img class="img-fluid rounded m-5" src="<%=data[0].shopProduct.shop_logo%>" style="height:150px;">
=======
            <img class="img-fluid rounded m-5" style="height:150px;" src="<%=data[0].shopProduct.shop_logo%>">
>>>>>>> 7de4173a4389bc8c533b18f00e885cb773f97891
            <span style="font-size:30pt;font-weight: bold;"><%=data[0].shopProduct.shop_name%></span>
        </div>
        <%- include("partials/carrusel")%>
        <div class="container">
            <h2 class="border-bottom mb-3">Electrónica</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <% for (item of data){ %>
                <% if( item.categoria == 'electronica'){ %>
                <div class="col mb-4">
                    <div class="card h-100">
                        <a class="text-decoration-none" href="/product/<%=item.idproducts%>"><img src="<%= item.img %>"
                                class="card-img-top img-thumbnail" style="height:260px" alt="..."></a>
                        <div class="card-body h-100">
                            <a class="text-decoration-none" href="/product/<%=item.idproducts%>">
                                <h5 class="card-title"><%= item.title %></h5>
                            </a>
                            <p class="card-text"><%= item.description %></p>
                            <h2 class="card-text">$<%= item.price %></h2>
                        </div>
                        <div class="card-text d-flex justify-content-center pb-2">
                            <a href="/product/<%= item.idproducts %> " class="btn btn-success">Comprá</a>
                        </div>
                    </div>
                </div>
                <% } %>
                <%}%>
            </div>
            <h2 class="border-bottom mb-3 " >Indumentaria</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <% for (item of data){ %>
                <% if( item.categoria == 'Indumentaria'){ %>
                <div class="col mb-4">
                    <div class="card h-100">
                        <a class="text-decoration-none" href="/product/<%=item.idproducts%>"><img src="<%= item.img %>"
                                class="card-img-top img-thumbnail" style="height:260px" alt="..."></a>
                        <div class="card-body h-100">
                            <a class="text-decoration-none" href="/product/<%=item.idproducts%>">
                                <h5 class="card-title"><%= item.title %></h5>
                            </a>
                            <p class="card-text"><%= item.description %></p>
                            <h2 class="card-text">$<%= item.price %></h2>
                        </div>
                        <div class="card-text d-flex justify-content-center pb-2">
                            <a href="/product/<%= item.idproducts %> " class="btn btn-success">Comprá</a>
                        </div>
                    </div>
                </div>
                <% } %>
                <%}%>
            </div>
        </div> 
    </main>

                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>
</body>

</html>