<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/headerShop.css">
    <link rel="stylesheet" href="/stylesheets/shop.css">
</head>

<body>

    <%- include("partials/headerShop")%>
    <main>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <% for (item of data){ %>
                <div class=" col-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center mb-3"  >
                    <div class="product-box"style="width: 100%;border:2px solid;height:auto;">
                        <figure class=" d-flex justify-content-center  ">
                            <img class="card-img-top img-thumbnail
                            " src="<%=item.img %>" style="height: 285px;width:85%" alt="">
                        </figure>
                            <div  class="card-title d-flex justify-content-center">
                                <h3 class="pt-1" style="font-weight:bold;border-top:0.5px solid"><%=item.title %></h3>
                            </div>
                            <div class=" pt-1 d-flex justify-content-center" >
                                <h2 style="font-size: 35px;font-weight:bold"> $ <%=item.price %></h2>
                            </div>
                            <div class="pt-1 d-flex justify-content-center " style= "overflow: hidden;word-wrap: break-word">
                                <p>
                                    <%=item.description %>
                                </p>
                            </div>
                            <div class="pt-1 d-flex justify-content-center align-self-end">
                                <button type="button" class="btn btn-success ">Comprar</button>
                            </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>



    </main>
    <%- include("partials/footer2")%>


                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>
</body>

</html>

<!-- <div class="card-body">
</div> -->
