<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/shop.css">
</head>

<body>
    <%- include("partials/headerShop")%>

    <main style="margin-top: 50px;">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <% for (item of data){ %>
                <div class="col mb-4">    
                    <div class="card h-100">
                        <a class="text-decoration-none" href="/product/<%=item.idproducts%>"><img src="<%= item.img %>" class="card-img-top img-thumbnail" style="height:260px" alt="..."></a>
                        <div class="card-body h-100">
                            <a class="text-decoration-none" href="/product/<%=item.idproducts%>"><h5 class="card-title"><%= item.title %></h5></a>
                            <p class="card-text"><%= item.description %></p>
                        </div>
                        <div class="card-text d-flex justify-content-center pb-2">
                            <a href="#" class="btn btn-success">Comprá</a>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
        
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div class="card h-100 ">
                        <img src="<%= data[0].img %>" class="card-img-top img-thumbnail" style="height:260px" alt="...">
                        <div class="card-body h-100">
                            <h5 class="card-title"><%= data[0].title %></h5>
                            <p class="card-text"><%= data[0].description %></p>
                        </div>
                    </div>
                    <% for ( let j = 1 ; j < 4 ; j++){ %>
                        <div class="card h-100 ">
                            <img src="<%= data[j].img %>" class="card-img-top img-thumbnail" style="height:260px" alt="...">
                            <div class="card-body h-100">
                                <h5 class="card-title"><%= data[j].title %></h5>
                                <p class="card-text"><%= data[j].description %></p>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <% for ( let i = 0 ; i < 3 ; i++){ %>
            <div class="carousel-item" data-interval="10000">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6">
                    <% for ( let j = 0 ; j < 6 ; j++){ %>
                    <div class="card h-100 ">
                        <img src="<%= data[6*i+j].img %>" class="card-img-top img-thumbnail" style="height:260px" alt="...">
                        <div class="card-body h-100">
                            <h5 class="card-title"><%= data[6*i+j].title %></h5>
                            <p class="card-text"><%= data[6*i+j].description %></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </main>
   


                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>
</body>

</html>